body {
  background-color: black;
}


.btn{
  width: 90px;
  color: white;
  background-color: black;
  border: 1px solid red;
  cursor: pointer;
  
}

.btn:hover{
  background-color: white;
  color: black;
}

.text {
  color: red;
  position: relative;
}

/* .dec{
    position: fixed;
    width:600px;
    margin: 0 800px;
} */

.image {
  width: 300px;
  border: 1px solid red;
}
